<configuration>
    <variable name="LOG_LEVEL" value="${LOG_LEVEL:-ERROR}" />
    <variable name="LOG_LEVEL_SCRIPT" value="${LOG_LEVEL_SCRIPT:-ERROR}" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="ScriptRuntime" level="${LOG_LEVEL_SCRIPT}" />
    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>